<!DOCTYPE html>
<html>
    <head id="myHeader">
        <title> Word counter </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
  <div class="jumbotron">
    <body id="myBody">
      <h2> Twitter word counter </h2>
        <div class="form-goup" id="myForms">
          <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Execute">
            <a href=''><input type="button" class="btn btn-danger" value="Reset"></a>
          </form>
        </div>
      </br>
        <div class="form-group" id="myTweets">
          <ul>

            {% for key,value in wordsCounted.items %}
            <h6>  {{ key }} </br> </h6>
              {% for tweets in value %}
              {{ tweets }} </p>
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
    </body>
  </div>
</html>
